body{
    margin: 0px;
    background-color: #0d1117;
}
.final_nav_bar{
    position: fixed;
    z-index: 1000;
    background-color: white;
    width: 100%;
}
.total_nav_bar{
    display: flex;
    flex-direction: row;
}
.nav_bar{
    position: relative;
    top: 30px;
    left: 300px;
    display: flex;
    flex-direction: row;
    gap: 100px; 
}
.section_in_nav_bar{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.section_in_nav_bar:hover {
    color: blue;
}
.section_in_nav_bar:active {
    color: red;
}
.header {
  height: 100px;
  width: 100%;
 background-color: #161b22;
  justify-content: center; 
  align-items: center;     
}

h1{
    padding: 25px;
    text-align: center;
    color: #58A6FF;
}
.cards-container{
  height:100vh;
  width:700px;
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-evenly;
  height: auto;
  width:90svw;
  gap:20px;
  height:60svh;
}
.card{
    font-size: 16px;
    background: #161B22;
    color:#C9D1D9;
    line-height: 30px;
    border-radius: 16px;
    border: 0px solid ;
    width:400px;
    height:200px;
    padding:10px;
    margin: 10px;
    box-shadow: 0 3px 10px #466f9e;
    transition: transform 0.3s;
}
.card:hover{
    transform:translateY(-4px);
    border:2px solid #466f9e;
    /* opacity: 50px; */
}
.card h2{
    color:#58A6FF;
    text-align:center;

}
label{
    font-weight: 700;
}
.cards-container a {
  text-decoration: none;
  color: inherit;
  display: block;
}