* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #040D12;
  color: #fff;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1000px;
  padding: 20px;
}

h2 {
  text-align: center;
  color: white;
}

.selector-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.selector-box {
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  background: #183D3D;
  text-align: center;
  width: 220px;
  transition: 0.3s;
}

.selector-box:hover {
  background: #5C8374;
}

.selected {
  border-color: #00ffcc;
  background-color: #222;
}

.form-section.glass {
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  background: #183D3D;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 500px;
}

label {
  margin-left: 50px;
}

input::placeholder{
  color: white;
}
select, input, button {
  margin: 10px 50px;
  padding: 10px;
  font-size: 16px;
  background: #5C8374;
  color: #fff;
  border: 1px solid #888;
  border-radius: 5px;
  width: 70%;
}


.match-block {
  border: 1px solid #555;
  padding: 15px;
  border-radius: 6px;
  margin-top: 15px;
  background: #183D3D;
}

button {
  background: #5C8374;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  border: none;
  transition: 0.3s;
}

button:hover {
  background: #00ccaa;
}

/* Media Query for Mobile View */
@media (max-width: 768px) {
  .selector-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .form-section.glass {
    width: 90%;
    margin: 20px auto;
  }

  select, input, button {
    width: 80%;
    margin: 10px auto;
    display: block;
  }

  label {
    margin-left: 10%;
  }
  .remove_button{
    position: relative;
    right: 30px;
  }
}
