* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right,#0D1117,#1E293B);
  color: #fff;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1000px;
  padding: 20px;
}

h2 {
  text-align: center;
  color: #58a6ff;
  font-size: 2rem;
}

.selector-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.selector-box {
  padding: 20px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  cursor: pointer;
  background:#161b22;
  text-align: center;
  width: 220px;
  transition: 0.3s;
  box-shadow: 0 3px 10px #466f9e;
}

.selector-box:hover {
  transform: translateY(-5px);
  background: #94a3b8;
  color:black;
}

.selected {
  border-color:rgba(255, 255, 255, 0.2);
  box-shadow: 0 3px 10px #466f9e;
}

.form-section.glass {
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  background:#161b22;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 500px;
  box-shadow: 0 3px 10px #466f9e;
}

label {
  color:#f1f5f9;
  margin-left: 50px;
}

input::placeholder{
   color:#94a3b8;
}
select, input, button {
  margin: 10px 50px;
  padding: 10px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.15);
  color:#f1f5f9;
  border: 1px solid #888;
  border-radius: 5px;
  width: 70%;

}

.match-block {
  border: 1px solid rgba(255, 255, 255, 0.1);;
  padding: 15px;
  border-radius: 6px;
  margin-top: 15px;
}

button {
  background:#238636;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border: none;
  transition: background-color 0.3s ease;
}

button:hover {
  background:  #5690d3;
}

@media (max-width: 768px) {

  .selector-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .form-section.glass {
    width: 90%;
    margin: 20px auto;
  }

  select, input, button {
    width: 80%;
    margin: 10px auto;
    display: block;
  }

  label {
    margin-left: 10%;
  }
  .remove_button{
    position: relative;
    right: 30px;
  }
}
