* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right,#0D1117,#1E293B);
  font-family:Roboto;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
}

.container a{
  text-decoration: none;
  color: white;
}

.title {
  font-size: 2.5rem;
  margin-top: 80px;
  color: #58a6ff;
}

.gap{
  height: 180px;
}

.card-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}


.card {
  width: 300px;
  padding: 50px;
  border-radius: 15px;
  background-color:#161b22;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color:#f1f5f9;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease;
  box-shadow: 0 3px 10px #466f9e;
}

.card:hover {
  transform: translateY(-5px);
  background-color: #94a3b8;
}
